In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('/Users/hoon2hooni/Desktop/project/4_party_project/Review_crawler/csv_output/interpark.csv')

In [48]:
#중복열제거
df_without_duplicates = df.drop_duplicates(keep = 'last')

In [52]:
df_without_duplicates.to_csv('/Users/hoon2hooni/Desktop/project/4_party_project/Review_crawler/csv_output/interpark_without_duplicates.csv')

In [53]:
df_without_duplicates.describe()

       HotelRating  ReviewRating
count  3200.000000   3200.000000
mean      9.313219      9.320062
std       0.320026      1.269232
min       6.400000      1.000000
25%       9.200000      9.200000
50%       9.400000     10.000000
75%       9.500000     10.000000
max      10.000000     10.000000